<h1>{{name}}</h1>
  <p>{{description}}</p>
  <p>Posted by {{user.name}} on {{format_date date_created}}</p>
  <p>Expires on {{format_date expiration_date}}</p>
  <h2>Starting Bid: 💲 <span class="dollar-amount" id="startingBid">{{price}}</span></h2>


  {{#if logged_in}}<!--check if user logged in-->
  {{#if comments.length}}<!--check if comments exist-->

  <h2>Bidders:</h2>

  {{#each comments as |comment|}}
  <p>{{comment.user.name}} bidded 💲 <span class="dollar-amount">{{comment.price}}</span> on {{format_date comment.date_created}}</p>
  {{/each}}

  {{else}}
  <p>No current bidders.</p>
  {{/if}}

{{#if match}}
{{else}}
<form class="pure-form bidForm">
    <h2>Place Bid</h2>
    <input type="text" class="pure-input-2-4" placeholder="Enter your bid here" id="userBid"/>
    <button class="submitBtn"  bid-id="{{id}}">Submit Bid</button>
</form>
{{/if}}

{{else}}
<h2>Login or Register to start bidding.</h2>
{{/if}}
<script src="/js/bid.js"></script>