<div class="posts">
	<section id="slider">
		<div class="container">
			<div class="subcontainer">
				<div class="slider-wrapper">
					<div class="controller">
					<h2>Deal Of The Day!!</h2>
					<div id="controls">
						<button class="previous"><i class="fa-solid fa-angle-left"></i></button>
						<button class="next"><i class="fa-solid fa-angle-right"></i></button>
					</div>
				</div>
				</div>
				<div class="my-slider">
					<br>
					<div>
						<div class="slide">
							<div class="slide-img img-1">
							<a href="#">Bid Now</a>
							</div>
							<br>
							<div>
							<h3>Canon EOS R Mirrorless Digital Camera with 24-105mm Lens</h3>
							<p>$2,546.00 <br><br><a href="#">BUY IT NOW</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
  <h1><i class="fa-solid fa-cart-shopping"></i>eMarket</h1>
	<h2 class="content-subhead">Pinned Post</h2>
  <h3 class="post-title">Welcome to eMarket</h3>
<p>Here you'll find the bid item's description. In general, a bid item description will contain information such as condition, category, material, specifcations, etc.
</p>
		
		<section class="post">
			<header class="post-header">
				<p class="post-meta">
					By bidder created on MM/DD/YYYY
				</p>
			</header>
			<div class="post-description1">
				
			</div>
		</section>
</div>

	<div class="posts">
	<h2 class="content-subhead">By Most Recent</h2>

	{{#each bidsActive as |bid| }}
	{{#if bid.active}}
	<section class="post">
			<header class="post-header">
				<h2 class="post-title">
					<a href="/bid/{{bid.id}}">{{bid.name}}</a>
				</h2>
				<p class="post-meta">
					Posted by {{bid.user.name}} on {{format_date bid.date_created}}
				</p>
			</header>
			<div class="post-description">
				<p>
					{{bid.description}}
				</p>
			</div>
	</section>
	{{/if}}
	{{/each}}
	</div>
	<div class="footer">
		<div class="pure-menu pure-menu-horizontal">
			<ul>
				<li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">About</a></li>
				<li class="pure-menu-item"><a href="https://github.com/seangshin/eMarket" class="pure-menu-link">GitHub</a></li>
			</ul>
		</div>
	</div>
	