<div class="posts">
  <h1><i class="fa-solid fa-cart-shopping"></i>eMarket</h1>
		<h2 class="content-subhead">Pinned Post</h2>
		<section class="post">
			<header class="post-header">
				<h2 class="post-title">Welcome to eMarket</h2>
				<p class="post-meta">
					By bidder created on MM/DD/YYYY
				</p>
			</header>
			<div class="post-description">
				<p>
					Here you'll find the bid item's description. In general, a bid item description will contain information such as condition, category, material, specifcations, etc.
				</p>
			</div>
		</section>
</div>

	<div class="posts">
	<h2 class="content-subhead">By Most Recent</h2>

	{{#each bidsActive as |bid| }}
	{{#if bid.active}}
	<section class="post">
			<header class="post-header">
				<h2 class="post-title">
					<a href="/bid/{{bid.id}}">{{bid.name}}</a>
				</h2>
				<p class="post-meta">
					Posted by {{bid.user.name}} on {{format_date bid.date_created}}
				</p>
			</header>
			<div class="post-description">
				<p>
					{{bid.description}}
				</p>
			</div>
	</section>
	{{/if}}
	{{/each}}
	</div>

	<div class="footer">
		<div class="pure-menu pure-menu-horizontal">
			<ul>
				<li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">About</a></li>
				<li class="pure-menu-item"><a href="https://github.com/seangshin/eMarket" class="pure-menu-link">GitHub</a></li>
			</ul>
		</div>
	</div>